<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
    PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
    "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--<classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" />-->

    <context id="Mybatis3Context" targetRuntime="MyBatis3Simple">

        <property name="javaFileEncoding" value="UTF-8"/>

        <commentGenerator>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://cdb-neqw262o.cd.tencentcdb.com:10127/TQMS?useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;nullCatalogMeansCurrent=true&amp;serverTimezone=UTC"
                        userId="root"
                        password="GONGRAN0812qweabc!">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!--    配置Java实体类生成位置    -->
        <javaModelGenerator
                targetPackage="com.gwy.manager.entity"
                targetProject="F:\GitHubRepository\NewTQMS\src\main\java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!--    sql映射文件生成位置    -->
        <sqlMapGenerator
                targetPackage="mapper"
                targetProject="F:\GitHubRepository\NewTQMS\src\main\resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!--    dao接口生成位置    -->
        <javaClientGenerator
                type="XMLMAPPER"
                targetPackage="com.gwy.manager.mapper"
                targetProject="F:\GitHubRepository\NewTQMS\src\main\java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="Customer" domainObjectName="Customer" enableCountByExample="false"
               enableDeleteByExample="false" enableUpdateByExample="false" enableSelectByExample="false">
        </table>

<!--        <table tableName="ts_admin" domainObjectName="Admin"/>-->
<!--        <table tableName="ts_course" domainObjectName="Course"/>-->
<!--        <table tableName="ts_dept" domainObjectName="Dept"/>-->
<!--        <table tableName="ts_major" domainObjectName="Major"/>-->
<!--        <table tableName="ts_student_class" domainObjectName="StudentClass"/>-->
<!--        <table tableName="ts_student" domainObjectName="Student"/>-->
<!--        <table tableName="ts_student_assess" domainObjectName="StudentAssess"/>-->
<!--        <table tableName="ts_target" domainObjectName="Target"/>-->
<!--        <table tableName="ts_teacher" domainObjectName="Teacher"/>-->
<!--        <table tableName="ts_teacher_course" domainObjectName="TeacherCourse"/>-->
<!--        <table tableName="ts_teacher_assess" domainObjectName="TeacherAssess"/>-->
<!--        <table tableName="ts_term" domainObjectName="Term"/>-->
<!--        <table tableName="ts_term_target" domainObjectName="TermTarget"/>-->
<!--            <table tableName="ts_root" domainObjectName="Root"/>-->
<!--        <table tableName="test" domainObjectName="TestTable"/>-->
<!--        <table tableName="ts_role" domainObjectName="Role"/>-->
<!--        <table tableName="ts_user" domainObjectName="User"/>-->
<!--        <table tableName="ts_user_role" domainObjectName="UserRole"/>-->
<!--        <table tableName="ts_permission" domainObjectName="Permission"/>-->
<!--        <table tableName="ts_role_permission" domainObjectName="RolePermission"/>-->
<!--        <table tableName="ts_log" domainObjectName="SysLog"/>-->
        <table tableName="ts_permission_api" domainObjectName="SysPermissionApi"/>
    </context>
</generatorConfiguration>