<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwy.manager.mapper.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.gwy.manager.domain.entity.Course" >
    <id column="course_no" property="courseNo" jdbcType="VARCHAR" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="hour" property="hour" jdbcType="INTEGER" />
    <result column="credit" property="credit" jdbcType="INTEGER" />
    <result column="dept_id" property="deptId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ts_course
    where course_no = #{courseNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gwy.manager.domain.entity.Course" >
    insert into ts_course (course_no, course_name, hour, 
      credit, dept_id)
    values (#{courseNo,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{hour,jdbcType=INTEGER}, 
      #{credit,jdbcType=INTEGER}, #{deptId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gwy.manager.domain.entity.Course" >
    update ts_course
    set course_name = #{courseName,jdbcType=VARCHAR},
      hour = #{hour,jdbcType=INTEGER},
      credit = #{credit,jdbcType=INTEGER},
      dept_id = #{deptId,jdbcType=VARCHAR}
    where course_no = #{courseNo,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select course_no, course_name, hour, credit, dept_id
    from ts_course
    where course_no = #{courseNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select course_no, course_name, hour, credit, dept_id
    from ts_course
  </select>
  <!-- 获得一个教师教授的所有课程 -->
  <select id="getCoursesOfTeacher" resultMap="BaseResultMap">
    select course_no, course_name, hour, credit, dept_id
    from ts_course
    where course_no in (select course_no
                        from ts_teacher_course
                        where teacher_no = #{teacherNo,jdbcType=VARCHAR})
  </select>
  <select id="getCoursesByIds" resultMap="BaseResultMap">
    select course_name, hour, credit
    from ts_course
    where course_no in
    <foreach collection="courseNos" item="courseNo" open="(" close=")" separator=",">
        #{courseNo,jdbcType=VARCHAR}
    </foreach>
  </select>
  <select id="getCoursesForMapByIds" resultMap="BaseResultMap">
    select course_no, course_name, hour, credit
    from ts_course
    where course_no in
    <foreach collection="courseNos" item="courseNo" open="(" close=")" separator=",">
        #{courseNo,jdbcType=VARCHAR}
    </foreach>
  </select>
</mapper>