<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwy.manager.mapper.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.gwy.manager.domain.entity.Dept" >
    <id column="dept_id" property="deptId" jdbcType="VARCHAR" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ts_dept
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gwy.manager.domain.entity.Dept" >
    insert into ts_dept (dept_id, dept_name)
    values (#{deptId,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gwy.manager.domain.entity.Dept" >
    update ts_dept
    set dept_name = #{deptName,jdbcType=VARCHAR}
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select dept_id, dept_name
    from ts_dept
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select dept_id, dept_name
    from ts_dept
  </select>
  <select id="getDeptByName" resultMap="BaseResultMap">
    select dept_id, dept_name
    from ts_dept
    where dept_name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="getDeptByIds" resultMap="BaseResultMap">
    select dept_id, dept_name
    from ts_dept
    where dept_id in
    <foreach collection="ids" open="(" close=")" separator="," item="id">
        #{id, jdbcType=VARCHAR}
    </foreach>
  </select>
</mapper>