<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwy.manager.mapper.RootMapper" >
  <resultMap id="BaseResultMap" type="com.gwy.manager.entity.Root" >
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getRoot" resultMap="BaseResultMap">
    select account, password
    from ts_root
  </select>
  <update id="updatePassword">
    update ts_root
    set password = #{password,jdbcType=VARCHAR}
  </update>
</mapper>