<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwy.manager.mapper.StudentCourseMapper" >
  <resultMap id="BaseResultMap" type="com.gwy.manager.entity.StudentCourse" >
    <id column="sno" property="sno" jdbcType="VARCHAR" />
    <id column="tc_id" property="tcId" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="appraise" property="appraise" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from ts_student_course
    where sno = #{sno,jdbcType=VARCHAR}
      and tc_id = #{tcId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gwy.manager.entity.StudentCourse" >
    insert into ts_student_course (sno, tc_id, score, 
      appraise)
    values (#{sno,jdbcType=VARCHAR}, #{tcId,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{appraise,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gwy.manager.entity.StudentCourse" >
    update ts_student_course
    set score = #{score,jdbcType=INTEGER},
      appraise = #{appraise,jdbcType=LONGVARCHAR}
    where sno = #{sno,jdbcType=VARCHAR}
      and tc_id = #{tcId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select sno, tc_id, score, appraise
    from ts_student_course
    where sno = #{sno,jdbcType=VARCHAR}
      and tc_id = #{tcId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sno, tc_id, score, appraise
    from ts_student_course
  </select>
</mapper>