<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwy.manager.mapper.TeacherAssessMapper" >
  <resultMap id="BaseResultMap" type="com.gwy.manager.domain.entity.TeacherAssess" >
    <id column="teacher_no" property="teacherNo" jdbcType="VARCHAR" />
    <id column="assessed_teacher_no" property="assessedTeacherNo" jdbcType="VARCHAR" />
    <result column="term_id" property="termId" jdbcType="VARCHAR" />
    <result column="appraise_score" property="appraiseScore" jdbcType="INTEGER" />
    <result column="submit_time" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="appraise_content" property="appraiseContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from ts_teacher_assess
    where teacher_no = #{teacherNo,jdbcType=VARCHAR}
      and assessed_teacher_no = #{assessedTeacherNo,jdbcType=VARCHAR}
      and term_id = #{termId, jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gwy.manager.domain.entity.TeacherAssess" >
    insert into ts_teacher_assess (teacher_no, assessed_teacher_no, term_id, appraise_score,
      submit_time, appraise_content)
    values (#{teacherNo,jdbcType=VARCHAR}, #{assessedTeacherNo,jdbcType=VARCHAR}, #{termId, jdbcType=VARCHAR}, #{appraiseScore,jdbcType=INTEGER},
      #{submitTime,jdbcType=TIMESTAMP}, #{appraiseContent,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gwy.manager.domain.entity.TeacherAssess" >
    update ts_teacher_assess
    set appraise_score = #{appraiseScore,jdbcType=INTEGER},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      appraise_content = #{appraiseContent,jdbcType=LONGVARCHAR}
    where teacher_no = #{teacherNo,jdbcType=VARCHAR}
      and assessed_teacher_no = #{assessedTeacherNo,jdbcType=VARCHAR}
      and term_id = #{termId, jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select teacher_no, assessed_teacher_no, appraise_score, submit_time, appraise_content
    from ts_teacher_assess
    where teacher_no = #{teacherNo,jdbcType=VARCHAR}
      and assessed_teacher_no = #{assessedTeacherNo,jdbcType=VARCHAR}
      and term_id = #{termId, jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select teacher_no, assessed_teacher_no, term_id, appraise_score, submit_time, appraise_content
    from ts_teacher_assess
  </select>
  <!-- 获得教师在本学期的所有评价 -->
  <select id="getTeacherAssessesByDeptAndTerm" resultMap="BaseResultMap">
    select teacher_no, assessed_teacher_no, term_id, appraise_score, submit_time, appraise_content
    from ts_teacher_assess
    where dept_id = #{deptId,jdbcType=VARCHAR} and term_id = #{termId,jdbcType=VARCHAR}
  </select>
  <select id="selectAllByTno" resultMap="BaseResultMap">
    select teacher_no, assessed_teacher_no, term_id, appraise_score, submit_time, appraise_content
    from ts_teacher_assess
    where teacher_no = #{teacherNo,jdbcType=VARCHAR}
  </select>
  <select id="judgeAssessed" resultType="java.lang.String">
    select assessed_teacher_no
    from ts_teacher_assess
    where teacher_no = #{teacherNo,jdbcType=VARCHAR} and term_id = #{termId,jdbcType=VARCHAR}
    and assessed_teacher_no in
    <foreach collection="assessedTeacherNos" item="assessedTeacherNo" open="(" close=")" separator="," >
        #{assessedTeacherNo,jdbcType=VARCHAR}
    </foreach>
  </select>
  <select id="selectByTermAndDept" resultType="map">
    select user_id teacherNo, username teacherName, sum(appraise_score) teacherAppraiseScore, count(appraise_score) teacherNum
    from ts_user
    left join ts_teacher_assess
    on user_id = assessed_teacher_no
    where dept_id = #{deptId,jdbcType=VARCHAR} and term_id = #{termId,jdbcType=VARCHAR} or term_id is null
    group by user_id
  </select>
  <select id="selectCountOfUserInTerm" resultType="int">
    select count(*)
    from ts_teacher_assess
    where teacher_no = #{userId,jdbcType=VARCHAR} and term_id = #{termId,jdbcType=VARCHAR}
  </select>
</mapper>