<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwy.manager.mapper.TeacherCourseMapper" >
  <resultMap id="BaseResultMap" type="com.gwy.manager.domain.entity.TeacherCourse" >
    <id column="tc_id" property="tcId" jdbcType="VARCHAR" />
    <result column="course_no" property="courseNo" jdbcType="VARCHAR" />
    <result column="teacher_no" property="teacherNo" jdbcType="VARCHAR" />
    <result column="term_id" property="termId" jdbcType="VARCHAR" />
    <result column="appraise_sum" property="appraiseSum" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR"/>
    <result column="begin_week" property="beginWeek" jdbcType="INTEGER" />
    <result column="end_week" property="endWeek" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ts_teacher_course
    where tc_id = #{tcId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gwy.manager.domain.entity.TeacherCourse" >
    insert into ts_teacher_course (tc_id, course_no, teacher_no, 
      term_id, appraise_sum, address, time,
      begin_week, end_week)
    values (#{tcId,jdbcType=VARCHAR}, #{courseNo,jdbcType=VARCHAR}, #{teacherNo,jdbcType=VARCHAR}, 
      #{termId,jdbcType=VARCHAR}, #{appraiseSum,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR},
      #{time,jdbcType=VARCHAR}, #{beginWeek,jdbcType=INTEGER}, #{endWeek,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gwy.manager.domain.entity.TeacherCourse" >
    update ts_teacher_course
    set course_no = #{courseNo,jdbcType=VARCHAR},
      teacher_no = #{teacherNo,jdbcType=VARCHAR},
      term_id = #{termId,jdbcType=VARCHAR},
      appraise_sum = #{appraiseSum,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      begin_week = #{beginWeek,jdbcType=INTEGER},
      end_week = #{endWeek,jdbcType=INTEGER}
    where tc_id = #{tcId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select tc_id, course_no, teacher_no, term_id, appraise_sum, address, time, begin_week,
    end_week
    from ts_teacher_course
    where tc_id = #{tcId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select tc_id, course_no, teacher_no, term_id, appraise_sum, address, time, begin_week,
    end_week
    from ts_teacher_course
  </select>
  <select id="selectByTeacherNoAndTermId" resultMap="BaseResultMap">
    select tc_id, course_no, teacher_no, term_id, appraise_sum, address, time, begin_week,
    end_week
    from ts_teacher_course
    where teacher_no = #{teacherNo,jdbcType=VARCHAR} and term_id = #{termId,jdbcType=VARCHAR}
  </select>
  <select id="selectByStudentNoAndTermId" resultMap="BaseResultMap">
    select tc_id, course_no, teacher_no, term_id, appraise_sum, address, time, begin_week,
    end_week
    from ts_teacher_course
    where term_id = #{termId,jdbcType=VARCHAR}
    and tc_id in (select tc_id
                  from ts_student_assess
                  where student_no = #{studentNo,jdbcType=VARCHAR})
  </select>
  <!-- 批量添加教师-课程 -->
  <insert id="insertBatch">
    insert into ts_teacher_course (tc_id, course_no, teacher_no,
      term_id, appraise_sum, address, time,
      begin_week, end_week)
      values
    <foreach collection="teacherCourses" separator="," item="teacherCourse">
    (
      #{teacherCourse.tcId,jdbcType=VARCHAR}, #{teacherCourse.courseNo,jdbcType=VARCHAR},
      #{teacherCourse.teacherNo,jdbcType=VARCHAR}, #{teacherCourse.termId,jdbcType=VARCHAR},
      #{teacherCourse.appraiseSum,jdbcType=INTEGER}, #{teacherCourse.address,jdbcType=VARCHAR},
      #{teacherCourse.time,jdbcType=VARCHAR},#{teacherCourse.beginWeek,jdbcType=INTEGER},
      #{teacherCourse.endWeek,jdbcType=INTEGER}
    )
    </foreach>
  </insert>
  <!-- 修改学生评价总分 -->
  <update id="updateAppraiseScore">
    update ts_teacher_course
    set appraise_sum = appraise_sum + #{changeScore,jdbcType=INTEGER}
    where tc_id = #{tcId,jdbcType=VARCHAR}
  </update>
  <select id="selectByTermAndDept" resultMap="BaseResultMap">
    select tc_id, course_no, teacher_no, term_id, appraise_sum, address, time, begin_week,
    end_week
    from ts_teacher_course
    where term_id = #{termId,jdbcType=VARCHAR}
    and course_no in (select course_no
                      from ts_course
                      where dept_id = #{deptId,jdbcType=VARCHAR})
  </select>
</mapper>