<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwy.manager.mapper.TermTargetMapper" >
  <resultMap id="BaseResultMap" type="com.gwy.manager.domain.entity.TermTarget" >
    <id column="term_id" property="termId" jdbcType="VARCHAR" />
    <id column="target_id" property="targetId" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="term_target_object" property="termTargetObject" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from ts_term_target
    where term_id = #{termId,jdbcType=VARCHAR}
      and target_id = #{targetId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gwy.manager.domain.entity.TermTarget" >
    insert into ts_term_target (term_id, target_id, weight, 
      term_target_object)
    values (#{termId,jdbcType=VARCHAR}, #{targetId,jdbcType=INTEGER}, #{weight,jdbcType=INTEGER}, 
      #{termTargetObject,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gwy.manager.domain.entity.TermTarget" >
    update ts_term_target
    set weight = #{weight,jdbcType=INTEGER},
      term_target_object = #{termTargetObject,jdbcType=INTEGER}
    where term_id = #{termId,jdbcType=VARCHAR}
      and target_id = #{targetId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select term_id, target_id, weight, term_target_object
    from ts_term_target
    where term_id = #{termId,jdbcType=VARCHAR}
      and target_id = #{targetId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select term_id, target_id, weight, term_target_object
    from ts_term_target
  </select>

  <!-- 批量插入学期指标 -->
  <insert id="insertTermTargets" parameterType="java.util.List" >
    insert into ts_term_target (term_id, target_id, weight,
      term_target_object)
    values
    <foreach collection="termTargets" separator="," item="termTarget">
    (
      #{termTarget.termId,jdbcType=VARCHAR}, #{termTarget.targetId,jdbcType=INTEGER},
      #{termTarget.weight,jdbcType=INTEGER},#{termTarget.termTargetObject,jdbcType=INTEGER,jdbcType=INTEGER}
    )
    </foreach>
  </insert>
  <!-- 获得学生学期评价指标 -->
  <select id="getStudentTermTargets" resultType="java.lang.Integer">
    select target_id
    from ts_term_target
    where term_id = #{termId,jdbcType=VARCHAR} and term_target_object = 1
  </select>
  <!-- 获得教师学期评价指标 -->
  <select id="getTeacherTermTargets" resultType="java.lang.Integer">
    select target_id
    from ts_term_target
    where term_id = #{termId,jdbcType=VARCHAR} and term_target_object = 0
  </select>
</mapper>