<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwy.manager.mapper.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.gwy.manager.domain.entity.UserRole" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from ts_user_role
    where user_id = #{userId,jdbcType=VARCHAR}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gwy.manager.domain.entity.UserRole" >
    insert into ts_user_role (user_id, role_id)
    values (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select user_id, role_id
    from ts_user_role
  </select>
  <insert id="addRolesForUser">
    insert into ts_user_role (user_id, role_id)
    values
    <foreach collection="roleIds" item="roleId" separator=",">
    (
        #{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}
    )
    </foreach>
  </insert>
  <delete id="deleteRoleOfUser">
    delete from ts_user_role
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertByBatch">
    insert into ts_user_role (user_id, role_id)
    values
    <foreach collection="userRoles" item="userRole" separator=",">
    (
        #{userRole.userId,jdbcType=VARCHAR}, #{userRole.roleId,jdbcType=INTEGER}
    )
    </foreach>
  </insert>
</mapper>